.container {
    text-align: center;
    vertical-align: middle;
    margin-top:80px;
}

#header {
    position: fixed;
    top: 0;
    background:#fff;
    width:100%;
}

section {
    margin: 30px 0;
}

h4 {
    padding: 20px 0px;
}

nav {
    margin-bottom: 15px;
}

    nav img {
        width: 50px;
        float: left;
    }

    nav .nav-link {
        color: #1e1c1c;
        font-weight: bold;
        padding: 10px 60px;
        font-size: 1.0em;
    }

        nav .nav-link:hover {
            color: #7034EE;
        }

#home {
    color: #fff;
    background: #7034EE;
    height: 500px;
    line-height: 500px;
}


@media (max-width: 1px) {
    #home {
        color: #fff;
        background: #7034EE;
        height: 500px;
        line-height: 500px;
    }
}
